
<app-artista
  [artistas]="artistas"
  (selectArtista)="onSeleccionarArtista($event)">
</app-artista>

<div class="container" style="display: flex; gap: 20px; margin-top: 20px;">


  <div style="width: 45%;">
    <app-albumes
      [albumes]="albumes"
      (openTracks)="onSeleccionarAlbum($event)"
      (loveAlbum)="onLoveAlbum($event)">
    </app-albumes>
  </div>


  <div style="width: 45%;">
    <app-cancion-album
      [canciones]="canciones"
      (loveTrack)="onLoveCancion($event)">
    </app-cancion-album>
  </div>

</div>
